.add-product-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  position: relative;
  top:20px;
  perspective: 1000px;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-product-container:hover {
  transform: translateZ(10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  background-color: lightskyblue;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitButton:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color:#007bff;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.submitButton:hover:before,
.submitButton:focus:before {
  width: 100%;
}

.submitButton:hover,
.submitButton:focus {
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.submitButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.specification-item {
  background-color: #f5f5f5;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.specification-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.specification-input input {
  flex-grow: 1;
  margin-right: 5px;
}


.specification-line {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h2{
  text-align: center;
  margin:0px 0px 3rem 0px;
}
.add-product-container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.remove-specification {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  font-size: 5px;
  height: 24px;
  width: 24px;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
}

 

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Add this line */
}


input:focus,
textarea:focus {
  border-color: black;
  outline: none;
}
button.addProductButton {
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 